*~
*.o
*.mod
*.exe
*.pyc
*.diff
*.tmp
*.out
*.protex
Python/swmfpy

Library/src/Makefile.DEPEND
Library/src/Makefile.RULES
Library/src/ModHdf5Utils.f90
Library/src/ModSpice.f90
Library/src/show_git_info.h
IDL/Solar/obsdata
IDL/Solar/simdata
IDL/Solar/output
